*,html,body{
	font-family: Microsoft JhengHei;
	box-sizing: border-box;
}
input{
	border:1px solid #20a8d8 !important;
	box-shadow: 3px 3px 3px #c0d8e0;
}
#main{
	min-width: 1200px;
}
.row{
	margin:0px;
}
#header{
	border:1px solid #20a8d8;
	margin-top: 10px;
	border-radius: 5px;
	color:#20a8d8;
	font-size: 3em;
	height:90px;
	padding:5px;
	display: flex;
	width:100%;
	align-items: center;
	font-weight: normal;
	box-shadow: 6px 6px 6px #c0d8e0;
	text-shadow: 5px 5px 5px #c0d8e0;
	background: -webkit-radial-gradient(left,white,#20a8d8);
	background: -o-radial-gradient(right,white,#20a8d8);
	background: -moz-radial-gradient(right,white,#20a8d8);
	background: radial-gradient(right,white,#20a8d8);
}
#intro{
	margin-top: 10px;
	padding:0px;
	min-width:320px;
}
.card{
	border:1px solid #20a8d8;
	box-shadow: 5px 5px 5px #c0d8e0;
	width: 20rem;
	margin-bottom: 0px;
	height: 515px;
}
#enterIntro{
	width:15.2rem;
	display:inline-block;
	border:1px solid #20a8d8;
	box-shadow: 5px 5px 5px #c0d8e0;
}
#right{
	margin-top: 10px;
	padding:10px;
	min-width:320px;
	border: 1px solid #20a8d8;
	box-shadow: 6px 6px 6px #c0d8e0;
	background-color: white;
	border-radius: 5px;
	width:20rem;
	min-height: 600px;
}
#eraser{
	margin-top: 10px;
	padding:10px;
	min-width:320px;
	border: 1px solid #20a8d8;
	box-shadow: 6px 6px 6px #c0d8e0;
	background-color: white;
	border-radius: 5px;
	width:20rem;
}
h4{
	color:#20a8d8;
	text-shadow: 2px 2px 2px #c0d8e0;
}
.sample_computed, .showPic{
	margin-top: 30px;
}
#seen_div{
	width:90%;
	margin: 0 auto; 
	text-align: center;
}
#seen_div > img{
	width:100%;
}
.short_input{
	width:28%;
	display:inline-block;
}
.row{
	margin-bottom: 20px;
}
.preview_div{
	background: white;
	border: 1px solid #20a8d8;
	border-radius: 5px;
	box-shadow: 6px 6px 6px #c0d8e0;
	padding:20px;
}
.readfile{
	display: flex;
	align-items: center;
	justify-content: center;
}
#loadtxt{
	padding:10px;
	border-radius: 5px;
	margin-left: 20px;
}
#preview{
	border: 1px solid #20a8d8;
	border-radius: 5px;
	box-shadow: 6px 6px 6px #c0d8e0;
	padding:20px;
	margin-top: 20px;
	display: none;
}
#preview_textarea{
	width: 100%;
	height:auto;
	border: 0px solid #20a8d8;
	resize: none;
}
.api_div{
	background: white;
	border: 1px solid #20a8d8;
	border-radius: 5px;
	box-shadow: 6px 6px 6px #c0d8e0;
	padding:20px;
	text-align: center;
}
.searchResult{
	height:50px;
	background: #20a8d8;
	color:white;
	width:100%;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-shadow: 6px 6px 6px #c0d8e0;
}
.change_button{
	width: 100%;
	display:flex;
	align-items: center;
	justify-content: center;
}
.change_button button{
	margin:10px 50px;
}
.change_div{
	text-align: center;
}
.show_change{
	text-align: center;
	background: white;
	border: 1px solid #20a8d8;
	border-radius: 5px;
	box-shadow: 6px 6px 6px #c0d8e0;
	height:50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#20a8d8;
}