<!DOCTYPE>
<html>
<head>
  <title>VueJS初學</title>
  <link href="css/style.min.css" rel="stylesheet">
  <link href="css/bootstrap-switch.min.css" rel="stylesheet">
  <link href="css/homepage.css" rel="stylesheet">
  <link href="css/fontawesome.min.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/@coreui/coreui@2.0.0-rc.1/dist/js/coreui.min.js"></script>
  <script src="js/all.min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <div class="container" id="main">
    <div class="col-md-12">
        <div id="header">
          {{title}}
        </div>
        <div class=row>
          <div id="intro" class="col-md-4">
            <h4>以下可以增加簡介：</h4>
            <input-area @add-intro="addList"></input-area>
            <intro-area :title="CardTitle" :intro="introItem"></intro-area> 
          </div>
          <div class="col-md-4" id="right">
            <h4>以下可以修改標題：<i class="fas fa-chevron-circle-right"></i></h4>
            <input type="text" class="form-control" v-model="title">
            <div class="sample_computed">
              <h4>簡單計算</h4>
              <input type="text" class="form-control short_input" v-model="firstScore">
              ＋
              <input type="text" class="form-control short_input" v-model="secondScore">
              ＝
              <input type="text" class="form-control short_input" v-model="totalScore">
            </div>
            <div class="showPic">
              <h4>顯示以下圖片：</h4>
              <label class="switch switch-pill switch-label switch-outline-primary" >
                <input type="checkbox" class="switch-input" v-model="seen">
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
              <div v-if="seen" id="seen_div">
                <img src="img/seen.png" />
              </div>
            </div>
          </div>
          <div class="col-md-4" id="eraser">
            <h4>刮刮樂</h4>
            <img src="img/eraser.png" v-on:mousemove="eraser()" v-bind:style="eraserStyle" />
            <button class="btn btn-outline-primary" v-show="call" @click="showEraser">召喚</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 preview_div">
            <h4>加入txt檔案就可以預覽txt內容</h4>
            <div class="readfile">
              <input type="file" id="loadtxt">
            </div>
            <div id="preview">
              <textarea id="preview_textarea"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-12 api_div">
        	<h4>F2E前端修練屋報名結果</h4>
          <input type="text" class="form-control short_input" name="email" placeholder="請輸入報名時的email" v-model="email">
        	<button class="btn btn-outline-primary" v-on:click="show_holiday">查詢</button>
        	</div>
          <div class="searchResult">
            {{searchResult}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 change_div">
          <h4>分頁功能</h4>
            <div class='change_button'>
              <button class="btn btn-outline-primary" @click="component='A'">A</button>
              <button class="btn btn-outline-primary" @click="component='B'">B</button>
            </div>
            <div class='show_change'>
              <component :is="component"></component>
          </div>
          </div>
        </div>
    </div>
  </div>


<!-- ===================================================js code ===================================================-->
<script>
  Vue.component('intro-item',{
    props:['label'],
    template:'<li>{{label}}</li>'
  });

  Vue.component('intro-area',{
    props:['title','intro'],
    template:`<div class="intro_view">
      <div class="card">
        <img class="card-img-top" src="img/intro.png" alt="Card image cap">
        <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
          <ul>
            <intro-item v-for="item in intro" :label="item"></intro-item>
          </ul>
        </div>
      </div>
    </div>`
  });

  Vue.component('input-area',{
    data(){
      return {
        text:''
      }
    },
    methods:{
      addItem(){
        if(this.text == ""){
          alert('請先輸入資料');
        }else{
          this.$emit('add-intro',this.text);
          this.text = '';
        }
      }
    },
    template:`
      <div class="intro_view">
        <form @submit.prevent="addItem">
          <input type="text" class="form-control" v-model="text" id="enterIntro">
          <button type="submit" class="btn btn-outline-primary">Submit</button>
        </form>
      </div>
    `
  });

  Vue.component('A',{
    template:`<span>A</span>`
  });
  Vue.component('B',{
    template:`<span>B</span>`
  });

  var main = new Vue({
    el:"#main",
    data:{
      title:"Charley's Vue",
      CardTitle:'About Me',
      introItem:['Charley','24','Taipei','Front-end Developer'],
      seen:false,
      firstScore:50,
      secondScore:50,
      eraserStyle:{
        width:'100%',
        opacity:'1',
        cursor:'pointer'
      },
      email:'',
      call:false,
      searchResult:'',
      component:'A'
    },
    computed:{
      totalScore:{
        get(){
          if(this.firstScore === ""){
            this.firstScore = 0;
          }
          if(this.secondScore === ""){
            this.secondScore = 0;
          }
        return parseInt(this.firstScore) + parseInt(this.secondScore);
        },
        set(val){
          this.secondScore = val - parseInt(this.firstScore);
        }

      }
    },
    methods:{
      addList(text){
        this.introItem.push(text);
      },
      eraser(){
        if(this.eraserStyle.opacity >0){
          this.eraserStyle.opacity-=0.009;
        }else{
          this.call = true;
          this.eraserStyle.cursor = 'default';
        }
      },
      showEraser(){
        this.eraserStyle.opacity = 1;
        this.eraserStyle.cursor = 'pointer';
        this.call = false;
      },
      show_holiday(){
        axios({
          method:'post',
          dataType:'jsonp',
          url:'https://www.thef2e.com/api/isSignUp',
          data:{
            "email":this.email
          }
        })
        .then((resp) => {
          this.searchResult = resp.data.message;
        });
      }
    }
  });

  window.onload = function(){
    document.getElementById('loadtxt').addEventListener('change',function(){
      var files = this.files;

      if(files){
        for(var i=0,f; f = files[i];i++){
          var r = new FileReader();
          r.onload = (function(f){
            return function(e){
              var contents = e.target.result;
              document.getElementById("preview").style.display = 'block';
              document.getElementById("preview_textarea").style.height = '0px';
              document.getElementById("preview_textarea").textContent = contents;
              document.getElementById("preview_textarea").style.height = document.getElementById("preview_textarea").scrollHeight + 'px';
              document.getElementById("preview_textarea").style.overflow = 'hidden';
            };
          })(f);
          r.readAsText(f);          
        }
      }else{
        alert('Failed to load files');
      }
    });
  };

</script>
</body>
</html>
